<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Iuliu Vișovan" />
    <meta name="title" content="Aurelia Vișovan" />
    <meta name="description" content="Official Website of the Romanian pianist, fortepianist and harpsichordist, Aurelia Vișovan." />
    <meta name="keywords" content="aurelia vișovan aureliavișovan aureliavișovan.com romania pianist" />
    <link rel="icon" type="image/jpg" href="logo.jpg" />
    <title>Aurelia Vișovan</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="css/styles.css?v=5" rel="stylesheet" />
    <link href="css/flags.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="flag-icon-css-master/css/flag-icon.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Quicksand:300,400, 600" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
  </head>

  <body id="page-top" class="index">
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0&appId=306856700168414&autoLogAppEvents=1"
      nonce="6bdRT41m"
    ></script>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" style="width: 100vw">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top" title="av - Aurelia Vișovan">av</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li onclick="$(this).addClass('clicked')">
              <a class="page-scroll" href="#about" title="Learn more about Aurelia"> About </a>
            </li>
            <li>
              <a class="page-scroll" href="#recordings" title="Explore Aurelia's discography">Recordings</a>
            </li>
            <li>
              <a class="page-scroll" href="#events" title="See the list of past and future events">Events</a>
            </li>
            <li>
              <a class="page-scroll" href="#media" title="Check out the collection of media content">Media</a>
            </li>
            <!-- <li>
                    <a class="page-scroll" href="#repertoire" title="Consult Aurelia's repertoire">Repertoire</a>
                </li> -->
            <li>
              <a class="page-scroll" href="#contact" title="Find out how you can contact Aurelia">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
      <div class="container">
        <div class="intro-text">
          <h1 class="main-title">Aurelia Visovan</h1>
          <a href="#about" style="margin-bottom: 100px" class="page-scroll btn btn-xl" title="Learn more about Aurelia">Enter</a>
          <center>
            <div class="news" style="display: none">
              <h3>News:</h3>
              <div class="date"><span class="glyphicon glyphicon-star-empty"></span><br /><span class="hidden-xs">30.01.2015</span></div>
              <h4>
                The trio Aurelia Visovan(piano), Vera Karner(clarinet) and Dominik Wagner(double bass) won the "Fanny Mendelssohn
                Förderpreis" in Hamburg and will<br class="visible-xs" />
                record their debut CD for Berlin Classics
              </h4>
            </div>
          </center>
        </div>
      </div>
    </header>

    <!-- News Section -->
    <section id="news">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Latest News</h2>
            <h3 class="section-subheading text-muted" style="margin-bottom: 0">Liszt - 12 Grandes Études - Trailer</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12" style="padding-top: 24px">
            <div class="video-container">
              <iframe
                src="https://www.youtube.com/embed/q0NNHjy9IVo?si=skWedVpgxeY-tuGS"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="bg-light-gold">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
            <h3 class="section-subheading text-muted" style="margin-bottom: 0">Aurelia Vișovan's biography</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <div class="col-md-9">
              <p class="text-muted" style="text-align: justify; padding-right: 7px; line-height: 1.5">
                <%- [0,1,2].map(x => data.aboutSections[x].content).join('') .replace(/\*\*\*/g, '<br />' + '&nbsp;'.repeat(10)) %>
              </p>
            </div>
            <div class="col-md-3" style="margin-top: 40px">
              <img src="/img/about/about-image.jpg" loading="lazy" alt="Aurelia 2018" style="width: 100%; border-radius: 8px" />
            </div>
          </div>

          <div class="col-md-12 biography-download">
            <div class="row" style="font-size: 19px">
              Download official biography:
              <div style="display: inline-block">
                <a
                  target="_blank"
                  href="https://docs.google.com/document/d/1ksOI1dt21BBhEylxfLv9RsjN6K0L2RDArAZr3BknOVQ/edit"
                  style="margin-left: 5px"
                  ><span class="flag-icon flag-icon-gb" title="English"></span> EN</a
                >
                |
                <a target="_blank" href="https://docs.google.com/document/d/1tRLhDrkplgyGMmw0SqeUKujfyDHVR4MgeyBRaYdvqWs/edit"
                  ><span class="flag-icon flag-icon-de" title="German"></span> DE</a
                >
              </div>
            </div>
            <div class="row" style="font-size: 16px">
              Short version:
              <a
                target="_blank"
                href="https://docs.google.com/document/d/1c3BDyF20dFfyRUtFOqtG4oxxbxL-cfPfFSlnJK-4Gww/edit"
                style="margin-left: 5px"
                ><span class="flag-icon flag-icon-gb" title="English"></span> EN</a
              >
              |
              <a target="_blank" href="https://docs.google.com/document/d/1gXWiZEWkfy_9QIsQxM2BAf5tdlwTEfkiMItU-GCzMCI/edit"
                ><span class="flag-icon flag-icon-de" title="German"></span> DE</a
              >
            </div>
            <div class="row">
              <i> Disclaimer: The provided biographies must be used in their complete form and unmodified.</i>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Recordings Section -->
    <section id="recordings">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Recordings</h2>
            <h3 class="section-subheading text-muted" style="margin-bottom: 16px">Aurelia Vișovan's discography</h3>
          </div>
        </div>
        <!-- Horizontal CD Picker -->
        <div class="row">
          <div class="cd-picker-container">
            <div class="cd-picker">
              <div class="cd-item active" data-cd="0">
                <img src="/img/recordings/Liszt 12 Grandes Etudes.jpg" alt="Liszt 12 Grandes Études" />
                <span>Liszt – 12 Grandes Études</span>
              </div>
              <div class="cd-item" data-cd="1">
                <img src="/img/recordings/Doktor Lichtentals Mozart.jpg" alt="Doktor Lichtentals Mozart" />
                <span>Doktor Lichtentals Mozart</span>
              </div>
              <div class="cd-item" data-cd="2">
                <img src="/img/recordings/Capriccio Appassionato.jpg" alt="Capriccio Appassionato" />
                <span>Capriccio Appassionato</span>
              </div>
              <div class="cd-item" data-cd="3">
                <img src="/img/recordings/Harpsifly.jpg" alt="Harpsifly" />
                <span>Harpsifly</span>
              </div>
              <div class="cd-item" data-cd="4">
                <img src="/img/recordings/Sonata Lunatica.jpg" alt="Sonata Lunatica" />
                <span>Sonata Lunatica</span>
              </div>
              <div class="cd-item" data-cd="5">
                <img src="/img/recordings/Mozart Hummel Beethoven Concerto Sonate Symphony.jpg" alt="Mozart Hummel Beethoven" />
                <span>Mozart Hummel Beethoven</span>
              </div>
              <div class="cd-item" data-cd="6">
                <img src="/img/recordings/Roots.jpg" alt="Roots" />
                <span>Roots</span>
              </div>
              <div class="cd-item" data-cd="7">
                <img src="/img/recordings/Gassenhauer Gassenbauer.jpg" alt="Gassenhauer-Gassenbauer" />
                <span>Gassenhauer-Gassenbauer</span>
              </div>
            </div>
          </div>
        </div>

        <!-- CD Detail View -->
        <div class="row">
          <div class="cd-detail" id="cd-detail">
            <!-- Content populated by JS -->
          </div>
        </div>
      </div>
    </section>

    <script>
      var cdData = [
        {
          name: 'Liszt – 12 Grandes Études',
          year: 2026,
          image: '/img/recordings/Liszt 12 Grandes Etudes.jpg',
          trailer: 'https://www.youtube.com/embed/q0NNHjy9IVo',
          links: [
            { label: 'Passacaille', url: 'https://passacaille.be/en/product/liszt-12-grandes-etudes-s-137/' },
            { label: 'Spotify', url: 'https://open.spotify.com/intl-de/album/5WxFSMX3DF5eQRQIsyL2A3' },
            { label: 'Apple Music', url: 'https://classical.music.apple.com/de/album/1854450242' },
          ],
        },
        {
          name: 'Doktor Lichtentals Mozart',
          year: 2023,
          image: '/img/recordings/Doktor Lichtentals Mozart.jpg',
          trailer: null,
          links: [
            { label: 'Gramola', url: 'https://www.gramola.at/products/9003643992689' },
            { label: 'Spotify', url: 'https://open.spotify.com/album/54T0OeX4UiBwJmcye46huG' },
            { label: 'Apple Music', url: 'https://music.apple.com/us/album/doktor-lichtenthals-mozart-piano-works/1687527671' },
          ],
        },
        {
          name: 'Capriccio Appassionato',
          year: 2022,
          image: '/img/recordings/Capriccio Appassionato.jpg',
          trailer: 'https://www.youtube.com/embed/UIE5mPOkEqg',
          links: [
            { label: 'Passacaille', url: 'https://passacaille.be/en/product/czerny-schubert-capriccio-apassionato/' },
            { label: 'Spotify', url: 'https://open.spotify.com/album/1Lmp7Bgq2gsxCeFlWlwBNG' },
            {
              label: 'Apple Music',
              url: 'https://music.apple.com/us/album/schubert-czerny-capriccio-appassionato-keyboard-sonatas/1635635903',
            },
          ],
        },
        {
          name: 'Harpsifly',
          year: 2021,
          image: '/img/recordings/Harpsifly.jpg',
          trailer: null,
          links: [
            { label: 'Gramola', url: 'https://www.gramola.at/products/9003643992245' },
            { label: 'Spotify', url: 'https://open.spotify.com/album/7ruqJhXauQzzZhOm4MdJCo' },
            {
              label: 'Apple Music',
              url: 'https://music.apple.com/fm/album/harpsifly-a-story-of-gordon-murray-and-his-instruments/1564151702',
            },
          ],
        },
        {
          name: 'Sonata Lunatica',
          year: 2020,
          image: '/img/recordings/Sonata Lunatica.jpg',
          trailer: 'https://www.youtube.com/embed/JBvy2LBHcnM',
          links: [
            { label: 'Passacaille', url: 'https://passacaille.be/en/product/beethoven-sonata-lunatica/' },
            { label: 'Spotify', url: 'https://open.spotify.com/album/1TW4uV4EjN935aGnM4Sail' },
            {
              label: 'Apple Music',
              url: 'https://music.apple.com/us/album/beethoven-sonatina-lunatica-violin-sonatas-nos-9-10/1538668512',
            },
          ],
        },
        {
          name: 'Mozart Hummel Beethoven – Concerto Sonate Symphony',
          year: 2020,
          image: '/img/recordings/Mozart Hummel Beethoven Concerto Sonate Symphony.jpg',
          trailer: null,
          links: [
            { label: 'Outhere Music', url: 'https://outhere-music.com/en/albums/mozart-hummel-beethoven-concerto-sonate-symphony' },
            { label: 'Spotify', url: 'https://open.spotify.com/album/5rGSszFCA2shVoezEUmuCi' },
            { label: 'Apple Music', url: 'https://music.apple.com/us/album/mozart-hummel-beethoven-concerto-sonate-symphony/1572132383' },
          ],
        },
        {
          name: 'Roots',
          year: 2018,
          image: '/img/recordings/Roots.jpg',
          trailer: null,
          links: [
            { label: 'Spotify', url: 'https://open.spotify.com/album/7Gq3QgfQv92l1JWuIZOBHL' },
            { label: 'Apple Music', url: 'https://classical.music.apple.com/us/album/1441936448' },
          ],
        },
        {
          name: 'Gassenhauer-Gassenbauer',
          year: 2016,
          image: '/img/recordings/Gassenhauer Gassenbauer.jpg',
          trailer: null,
          links: [
            { label: 'JPC', url: 'https://www.jpc.de/jpcng/classic/detail/-/art/gassenhauer/hnum/3553418' },
            { label: 'Spotify', url: 'https://open.spotify.com/album/4YQ8vvYvINJ4ShrCqNHReR' },
            { label: 'Apple Music', url: 'https://music.apple.com/us/album/gassenhauer/1141386005' },
          ],
        },
      ];

      function showCdDetail(index) {
        var cd = cdData[index];
        var html = '<div class="cd-detail-content">';

        html += '<div class="cd-detail-image">';
        html += '<div class="cd-spine"></div>';
        html += '<img src="' + cd.image + '" alt="' + cd.name + '" />';
        html += '</div>';

        html += '<h3 class="cd-title">' + cd.name + '</h3>';
        html += '<p class="cd-year">' + cd.year + '</p>';

        if (cd.trailer) {
          html += '<div class="cd-trailer-box">';
          html += '<h4 class="cd-trailer-title">Trailer</h4>';
          html += '<div class="cd-trailer">';
          html +=
            '<iframe src="' +
            cd.trailer +
            '" title="Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>';
          html += '</div>';
          html += '</div>';
        }

        html += '<div class="cd-links">';
        for (var i = 0; i < cd.links.length; i++) {
          html += '<a href="' + cd.links[i].url + '" target="_blank" class="cd-link">' + cd.links[i].label + '</a>';
        }
        html += '</div>';
        html += '</div>';

        document.getElementById('cd-detail').innerHTML = html;
      }

      document.addEventListener('DOMContentLoaded', function () {
        var cdItems = document.querySelectorAll('.cd-item');

        cdItems.forEach(function (item) {
          item.addEventListener('click', function () {
            cdItems.forEach(function (i) {
              i.classList.remove('active');
            });
            this.classList.add('active');
            showCdDetail(parseInt(this.getAttribute('data-cd')));
          });
        });

        // Show first CD by default
        showCdDetail(0);
      });
    </script>

    <!-- Events Section -->
    <section id="events" class="bg-light-gold">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Events</h2>
            <h3 class="section-subheading text-muted">Aurelia Vișovan's upcoming events</h3>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                  <th>City</th>
                  <th>Location</th>
                </tr>
              </thead>
              <div class="panel-heading">Upcoming (click on an event to see the programme)</div>
              <tbody>
                <% data.concerts .filter(function (item) { return item.date * 1000 >= (+new Date() - 86400000); }).sort(function (a, b) {
                return a.date - b.date }).forEach(function(item) { %>
                <tr class="clickable" data-toggle="collapse" data-target="#concertinfo<%= item.date %>">
                  <th scope="row"><%= item.name %></th>
                  <td><%= dateformat(new Date(item.date * 1000), "dd.mm.yyyy") %></td>
                  <td style="white-space: nowrap">
                    <img
                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                      style="margin-top: -4px; margin-right: 4px"
                      class="flag flag-<%= item.flag %>"
                    />
                    <%= item.city %>
                  </td>
                  <td><%= item.location %></td>
                </tr>
                <tr class="collapse" id="concertinfo<%= item.date %>">
                  <td colspan="8" style="background-color: #f9f9f9"><b></b><%- item.programme %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <div class="panel panel-default" style="max-height: 400px; overflow: auto">
            <div class="panel-heading">Archive</div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                  <th>City</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                <% data.concerts .filter(function (item) { return item.date * 1000 < (+new Date() - 86400000); }).sort(function (a, b) {
                return b.date - a.date }).forEach(function(item) { %>
                <tr>
                  <td><%= item.name %></td>
                  <td><%= dateformat(new Date(item.date * 1000), "dd.mm.yyyy") %></td>
                  <td>
                    <img
                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                      style="margin-top: -4px"
                      class="flag flag-<%= item.flag %>"
                    />
                    <%= item.city %>
                  </td>
                  <td><%= item.location %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Media Section -->
    <section id="media">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Media</h2>
            <h3 class="section-subheading text-muted">Photo gallery and recordings</h3>
          </div>
        </div>
        <div class="row">
          <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
              <% data.mediaPhotos.forEach(function(item, i) { %>
              <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : '' %>"></li>
              <% }) %>
            </ol>

            <div class="carousel-inner">
              <% data.mediaPhotos.forEach(function(item, i) { %>
              <div class="item <%= i == 0 ? 'active' : '' %>">
                <img
                  src="<%= item.url %>"
                  alt="<%= item.alt %>"
                  title="<%= item.title %>"
                  class="img-responsive"
                  style="max-height: 780px; margin: auto"
                  loading="lazy"
                />
              </div>
              <% }) %>
            </div>

            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
              <span class="icon-prev"></span>
              <div class="invistext">Previous</div>
            </a>

            <a class="carousel-control right" href="#myCarousel" data-slide="next">
              <span class="icon-next"></span>
              <div class="invistext">Next</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <% var right = false; data.mediaVideos.sort((a,b) => b.year - a.year).forEach(function (item) { %>
              <li class="<%= right ? 'timeline-inverted' : '' %>">
                <div class="timeline-image">
                  <!-- <img class="img-circle img-responsive" src="<%= item.imageUrl %>"
                                 alt="Aurelia Visovan in <%= item.year %>"> -->
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="subheading"><%= item.title %></h4>
                  </div>
                  <div class="embed-responsive embed-responsive-<%= item.ratio %>">
                    <iframe width="420" height="315" src="<%= item.url %>" allowfullscreen></iframe>
                  </div>
                </div>
              </li>
              <% right = !right }) %>
              <li class="timeline-image">
                <div class="timeline-image">
                  <h5>More <br />To <br />Come</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading" title="Aurelia's Contact Details">Contact</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4 text-center">
            <h3 class="contact"><strong>Aurelia Vișovan</strong></h3>
            <a href="http://www.aureliavisovan.com">
              <h4 class="contact"><span class="fa fa-external-link gold" title="Website"></span> www.aureliavisovan.com</h4>
            </a>
            <h4 class="contact">
              <span class="fa fa-envelope-o gold" title="Mail"></span>
              aureliavisovan@gmail.com
            </h4>
            <a href="https://instagram.com/aurelia.visovan">
              <h4 class="contact"><span class="fa fa-instagram gold" title="Website"></span> instagram.com/aurelia.visovan</h4>
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a
              style="display: block"
              href="http://www.iuliu.net"
              target="_blank"
              class="rigid-link"
              title="Website built and mantained by www.iuliu.net"
            >
              <span class="copyright">Copyright &copy; Iuliu Vișovan 2015-2022</span>
            </a>
            <span title="Photographs credits goes to Felix Abrudan & Sanziana Craciun" class="copyright">
              Photo credits: &copy;
              <a class="rigid-link" href="http://felixabrudan.eu">Felix Abrudan</a>,
              <a class="rigid-link" href="http://andresanazco.com/">Andrés Añazco</a>,
              <a
                class="rigid-link"
                href="https://instagram.com/sofijapalurovic_photo?igshid=YzAyZWRlMzg=
              "
                >Sofija Palurović </a
              >,
              <a
                class="rigid-link"
                href="https://instagram.com/poptelecanionut?igshid=YzAyZWRlMzg=
              "
                >Ionut Poptelecan
              </a>
            </span>
          </div>
          <div class="col-md-4">
            <div
              class="fb-like"
              data-href="https://www.facebook.com/AureliaVisovanOfficial"
              data-layout="standard"
              data-action="like"
              data-show-faces="true"
              data-share="false"
            ></div>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li><a href="#"></a></li>
              <li>
                <a href="http://www.aureliavisovan.com" target="_blank" class="rigid-link" title="www.aureliavisovan.com"
                  >www.aureliavisovan.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div id="fb-root"></div>
    <script>
      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = '//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4';
        fjs.parentNode.insertBefore(js, fjs);
      })(document, 'script', 'facebook-jssdk');
    </script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-162918443-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
